<div class="card">
    <p-menubar [model]="items" styleClass="menu">
        <ng-template pTemplate="start">
            <a href="" title="Mart Online Shop">
                <img class="header-logo" src="https://cdn.mart.ps/img/presthemes-titanshop-prestashop-themes-1482344296.jpg" alt="Mart Online Shop">
            </a>
        </ng-template>
        <ng-template pTemplate="end">
            <div class="login-dev">
                <a title="Login to your customer account">
                    <p-button label="Login" styleClass="login" />
                </a>
            </div>
        </ng-template>
    </p-menubar>
</div>